// --color-white: #fff;
// --color-dark-blue: #1B1D23;
// --color-dark-gray: #60636D;
// --color-mid-gray: #7D828F;
// --color-light-gray: #C8CCD8;
// --color-very-light-gray: #EEEFF4;
// --color-red: #DF5656;

.landing {
    height: 700px;
    color: #fff;

    &_container {
        position: relative;
        height: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    .landing {
        &_content {
            & p { max-width: 70%; }
        }
        &_changer { display: none; }
    }
}

@media only screen and (min-width: 500px) and (max-width: 900px) {
    .landing { height: 600px; }
}

@media only screen and (max-width: 500px) {
    .landing { height: 500px; }
}