.App {
    &_pages {
        position: absolute;
        top: 0;
        left: 50px;

        & h4 {
            color: #C8CCD8;
            position: absolute;
            left: -55px;
            top: 200px;
            text-transform: uppercase;
            letter-spacing: 15px;
            font-size: 15px;
            font-weight: 500;
            transform: rotateZ(90deg);
        }
    }

    &_vertical {
        width: 1px;
        height: 100px;
        background: #C8CCD8;
    }

}

@media only screen and (max-width: 1000px) {
    .App {
        &_pages { display: none; }
    }
}